<section id="search" class="search-wrap">
    <h1>Find A Booking</h1>
    <form class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="...">
      <input type="submit" value="Search">
    </form>
  </section>

<section id="booking" class="container">
    <h1>All bookings</h1>
    
    {{#each booking}}
    <div class="app">
      <h3>booking ID: {{bookingId}}</h3>
      <p>{{bookingDate}}</p>
      <ul>
        <li>payment amount: {{paymentAmount}}</li>
        <li>payment method: {{paymentMethod}}</li>
        <li>user ID: {{userId}}</li>
        <li>customer ID: {{customerId}}</li>
        <li>flight ID: {{flightId}}</li>
      </ul>
    </div>

    {{else}}
    <p>no bookings available</p>

    {{/each}}
    

  </section>

  